/* ----------------------------------------------------------------------------
components.css                                                                  
Enthält alle Regeln zu Module.  

@media (min-width:600px) { }
@media (min-width:801px) { }
@media (min-width:1025px) {  }
@media (min-width:1281px) { }
----------------------------------------------------------------------------*/



/* Portfolio Item
-----------------------------------------------------------------------------*/

.m-portfolioItem{
  margin-bottom: var(--xxxl);
}

@media only screen and (min-width: 801px) {
  .m-portfolioItem{
    display: grid;
    grid-template-columns: 33% 1fr;
    grid-column-gap: var(--xl);
  }
}

.m-portfolioItem + .m-portfolioItem {
  border-top: solid 1px var(--color-text-light);
  padding-top: var(--xxxl);
  margin-top: var(--xxxl);
}

.m-portfolioItem-title, .m-portfolioItem-subtitle{
  padding: 0;
  margin: 0;
  margin-bottom: var(--m);
}

.m-portfolioItem-title + .m-portfolioItem-subtitle{
  margin-top: calc(var(--m) * -1);
}

.m-portfolioItem-image{
  margin-bottom: var(--m);
}





/* Buttons
-----------------------------------------------------------------------------*/

.m-linkButton{
  display: inline-block;
  padding: var(--xs) var(--s);
  background-color: var(--color-accent);
  color: var(--color-backgrounds);
  border: none;
  transition: all 0.2s;
}

.m-linkButton:hover{
  background: #000;
}